.editModal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInput {
    text-align: center;
    width: 200px;
    align-items: center;
    justify-content: center
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.modalButton {
    width: 100px;
    height: 40px;
}

.cancelButton {
    margin-right: 0.5rem;
}