/* handle style is common to all node shapes */

.invisibleHandle {
    border-radius: 50%;
    pointer-events: none;
}

.handle {
    border-radius: 50%;
    border: 10px solid transparent;
    background: transparent;
    pointer-events: auto
}



/* :root {
    --handle-width: calc(105% + 2px);
}

.wideHandleTop {
    width: var(--handle-width);
    height: 15px;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.4;
    
}

.wideHandleBottom {
    width: var(--handle-width);
    height: 15px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.4;
}

.wideHandleLeft {
    width: 15px;
    height: var(--handle-width);
    border-radius: 10px 0px 0px 10px;
    opacity: 0.4;
}

.wideHandleRight {
    height: var(--handle-width);
    width: 15px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.4;
} */