/* styles for the look of all custom shapes */

/* Node  appearance */
.rect {
    width: auto; 
    height: auto; 
    padding: 10px 10px; 
    color: white;
    display: inline-flex; /* Keeps block flexible and adjusts size */
    justify-content: center;
    align-items: center;
    background-color: #6c5ce7;
    border-radius: 2px;
    word-wrap: break-word; /* Ensures the text wraps within the block */
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #6c5ce7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}