/* styles for the look of all custom shapes */

/* Node  appearance */
.rect {
    width: auto; 
    height: auto; 
    padding: 10px 10px; 
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #6c5ce7;
    border-radius: 2px;
    word-wrap: break-word; 
}

.circle {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #6c5ce7;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    aspect-ratio: 1 / 1; 
    font-size: 1rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


