/* styles for the look of all custom shapes */

.rect {
    width: auto; 
    height: auto; 
    padding: 10px 10px; 
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #6c5ce7;
    word-wrap: break-word; 
    font-size: 12px;
	border: 2px solid #555;
	border-radius: 5px;
	text-align: center;
}

.circle {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #6c5ce7;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    aspect-ratio: 1 / 1; 
    font-size: 1rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
	border: 2px solid #555;
}


