/* Styling for the window */
.panel {
    padding: 10px;
    background: black;
    border-radius: 8px;
    border: 1px solid gray;
    color: white;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.notesTitle {
    text-align: center;
    display: block;
    margin: auto;
}

/* defines a global variable so that closeButton's width and height and closeButtonIcon's width and height all change together */
:root {
    --button-img-size: 20px;
}

/*The position of the button in the notes window*/
.closeButton {
    position: absolute;
    right: 5px;
    top: 14px;
    background: transparent;
    width: var(--button-img-size);
    height: var(--button-img-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/*The size of the X icon*/
.closeButtonIcon {
    width: var(--button-img-size);
    height: var(--button-img-size);
}

.textBox {
    background: black;
    width: 100%;
    height: 93%;
    resize: none;
    color: white;
    font-size: 16px;
    outline: none;
    font-family: Arial, sans-serif;
    outline: none;
    border-radius: 8px;
    /* without this, the textbox will noticably shift when the box is selected. if the background color is changed, this needs to be
       updated as well to maintain the illusion of no border
    */
    border: 1px solid black; 
    padding: 5px 5px;

    /* without this stuff, the padding shifts the box around */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.textBox:focus {
    /* border: 1px solid #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
    background: #121212;
}