/* AxonRollYourOwnColorSchemeConstructionSet.tsx: */
/* modify this value right here to change the color of the note window */
:root {
    --note-window-color: #000000;
}

/* Styling for the window */
.panel {
    padding: 10px;
    background: var(--note-window-color);
    border-radius: 8px;
    border: 1px solid gray;
    color: white;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}

.notesTitle {
    text-align: center;
    margin: auto;
}

/* defines a global variable so that closeButtons width and height and closeButtonIcons width and height all change together */
:root {
    --button-img-size: 20px;
}

/*The position of the button in the notes window*/
.closeButton {
    position: absolute;
    right: 5px;
    top: 14px;
    background: transparent;
    width: var(--button-img-size);
    height: var(--button-img-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/*The size of the X icon*/
.closeButtonIcon {
    width: var(--button-img-size);
    height: var(--button-img-size);
}

.textBox,
.textBoxMarkdownDiv {
    background: black;
    width: calc(100% - 20px);
    height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

    /* without this stuff, the padding shifts the box around */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.textBox {
   resize: none;
   direction: ltr;
   text-align: left;
}

.textBox:focus {
    background: #121212;
}

.textBoxMarkdownDiv {
    cursor: text;
    padding: 0 12px 0 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/*Small toolbar adjustments*/
.small-toolbar .mantine-RichTextEditor-toolbar {
    padding: 0;
    font-size: 12px;
    gap: 4px;
    background-color: transparent;
}

.small-toolbar .mantine-RichTextEditor-controlsGroup {
    gap: 2px;
}

.small-toolbar .mantine-RichTextEditor-control {
    padding: 4px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}

.small-toolbar .mantine-RichTextEditor-toolbar .mantine-RichTextEditor-control svg {
    width: 12px;
    height: 12px;
}

/*Scrollable content*/
.scrollable-content {
    height: 312px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    border-radius: 4px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.scrollable-content .mantine-RichTextEditor-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}